*{
    background-color: aquamarine;
    text-align: center;
    font-family: sans-serif;
}

#timer{
    color: slateblue;
    position: absolute;
    bottom: 10px;
}

#scores {
    color: slateblue;
    position: absolute;
    top: 10px;
}

button {
    border-radius: 15px;
    width: auto;
    height: 50px;
    font-size: 100%;
}

li {
    border: 3px;
    border-radius: 10px;
    width: auto;
    height: 30px;
}